@using FRS_MONTAGEM_MANUTENÇÕES.Models.ViewModels

@model ClientePedido


<section class="perfil-cliente_perfil" 
    style="border: 1px solid #000000;
        margin: 5%;
        border-radius: 25px;
        display: flex;
        gap: 5rem;
        align-items: center;
        padding: 3rem;">
    <div>
        <img src="./images/user.svg" alt="Foto do Usuário">
    </div>
    <div>
        <h2 class="perfil-cliente_titulo">Olá @Model.Pessoa.Nome</h2>
        <p class="perfil-cliente_texto">Email @Model.Pessoa.Email</p>
    </div>
</section>

<div class="perfil-cliente_container">
    <h5>Pedidos</h5>
</div>

<table>
    <thead class="perfil-cliente_table_cabecalho">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Data de Início</th>
            <th>Data de Término</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pedido in Model.Pedidos)
        {
            <tr>
                <td>@pedido.Id</td>
                <td>@pedido.Nome</td>
                <td>@pedido.Descricao</td>
                <td>@pedido.DataInicio.ToString("dd/MM/yyyy")</td>
                <td>@pedido.DataTermino?.ToString("dd/MM/yyyy") ?? "Em andamento"</td>
                <td>
                    <!-- Link para expandir o pedido, chamando a ação Detalhes do PedidoController -->
                    <a href="@Url.Action("Detalhes", "Pedido", new { id = pedido.Id })" class="btn btn-primary">Expandir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
