@using FRS_Montagens_e_Manutenção.Models;

@model Pedido


<main class="container">
    <a href="javascript:void(0);" onclick="window.close();" class="voltar-link">
        <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.125 1.25L4.875 10.5L14.125 19.75" stroke="#FFC846" stroke-width="3" />
        </svg>
        Voltar
    </a>

    <form asp-action="Edit" class="formulario" style="width: 95%;">
        <h2 style="font-size: 1.3rem;color: white;">Pedido: @Model.Id</h2>
        <div style="width: 65%;">
            <span>
                <h3>Nome do Projeto:</h3>
                <input type="text" asp-for="Nome">
            </span>
        </div>
        <div>
            <span>
                <h3>Descrição do Projeto</h3>
                <textarea rows="3" class="h-75 mb-4 p-3" asp-for="Descricao"></textarea>
            </span>
        </div>
        <div class="d-flex justify-content-between" style="width: 50%;">
            <span>
                <h3>Data de Inicio</h3>
                <input type="date" asp-for="DataInicio">
            </span>
            <span>
                <h3>Data de Término</h3>
                <input type="date" asp-for="DataTermino">
            </span>
        </div>

        <div class="tabela-topicos table">
            <table>
                <thead>
                    <tr>
                        <th>Nome do Tópico</th>
                        <th>Duração</th>
                        <th>Início</th>
                        <th>Término</th>
                        <th></th>
                    </tr>
                </thead>
                @if (Model.Topicos.Count > 0)
                {
                    <tbody>
                        @foreach (var topico in Model.Topicos)
                        {
                            <tr class="nome-proj">
                                <td>@topico.Nome</td>
                                <td>@((topico.DataTermino - topico.DataInicio)?.Days ?? 0) dias</td>
                                <td>@topico.DataInicio.ToString("dd/MM/yy")</td>
                                <td>@(topico.DataTermino.HasValue ? topico.DataTermino?.ToString("dd/MM/yy") : "Não definido") </td>
                                <td>
                                    <a href="@Url.Action("Edit", "Topico", new { id = topico.Id })" target="_blank">Editar</a>
                                    <a href="@Url.Action("ConfirmDelete", "Topico", new { id = topico.Id })" target="_blank">Excluir</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                }
            </table>
            <div class="edit-btn">
                <button onclick="window.close();" style="background-color: #171717; color: #ffc846; border: solid 0.5px #ffc846;">
                    Cancelar
                </button>
                <button type="submit">Salvar</button>
            </div>
        </div>
    </form>
</main>
