<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F.R.S. Montagens e manutenção</title>
    <link rel="stylesheet" href="@Url.Content("~/css/index.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/Registros.css")" />
    <link rel="icon" href="@Url.Content("~/img/logo3-semfundo.png")" type="image/png">
    <link rel="stylesheet" href="@Url.Content("~/css/Edit.css")" />
    <link href="@Url.Content("~/lib/bootstrap/dist/css/bootstrap.min.css")" rel="stylesheet" />
</head>
<body style="background-color: #1E1E1E !important">
        <header class="header">
        <a href="index.html"><img src="@Url.Content("~/img/Logo_txt.svg")" alt="Logo da FRS Montagens"></a>
            <nav class="navbar">
                <ul>
                <li class="nav-link"><a asp-controller="home" asp-action="Index">Inicio</a></li>
                    <li class="nav-link"><a href="#">Sobre</a></li>
                    <li class="nav-link"><a href="#">Objetivos</a></li>
                    <li class="nav-link"><a href="#">Contato</a></li>
               
                @if (!User.Identity.IsAuthenticated)
                {
                    <a asp-controller="Login" asp-action="Index" class="login-button">
                    <li>
                        Entrar <i class="fa-solid fa-user" style="color: #181818; margin-left: 5px;"></i>
                    </li>
                    </a>
                }else{
                    <li class="nav-link"><a asp-controller="Login" asp-action="logout">Sair</a></li>
                }

                </ul>\
                <svg class="navbar-menu" viewBox="0 0 39 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.36264 4.95918H36.7912C37.5438 4.95918 38.1538 4.46581 38.1538 3.85714V1.10204C38.1538 0.49337 37.5438 0 36.7912 0H1.36264C0.610036 0 0 0.49337 0 1.10204V3.85714C0 4.46581 0.610036 4.95918 1.36264 4.95918ZM1.36264 15.9796H36.7912C37.5438 15.9796 38.1538 15.4862 38.1538 14.8776V12.1224C38.1538 11.5138 37.5438 11.0204 36.7912 11.0204H1.36264C0.610036 11.0204 0 11.5138 0 12.1224V14.8776C0 15.4862 0.610036 15.9796 1.36264 15.9796ZM1.36264 27H36.7912C37.5438 27 38.1538 26.5066 38.1538 25.898V23.1429C38.1538 22.5342 37.5438 22.0408 36.7912 22.0408H1.36264C0.610036 22.0408 0 22.5342 0 23.1429V25.898C0 26.5066 0.610036 27 1.36264 27Z" fill="white" />
                </svg>
            </nav>
        </header>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <br>
    <footer class="rodape">
        <div class="rodape-conteudo">
            <div class="rodape-links">
                <ul>
                    <h3>LINKS</h3>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">História</a></li>
                    <li><a href="#">Redes</a></li>
                </ul>
            </div>
            <div class="rodape-social">
                <ul>
                    <h3>REDES SOCIAIS</h3>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">LinkedIn</a></li>
                </ul>
            </div>
            <div class="rodape-contato">
                <ul>
                    <h3>CONTATO</h3>
                    <li>Av. Dra. Maria Inês Dal´Antonia Curi, 387 - Jardim Itapucu</li>
                    <li>frsmontagens@exemplo.com</li>
                    <li>(17)99922-6644</li>
                </ul>
            </div>
        </div>
        <br>
        <hr color="#ffc846" width="40%">
        <h5>&copy; Todos os direitos reservados</h5>
    </footer>
    <script src="https://kit.fontawesome.com/04ab88e5e7.js" crossorigin="anonymous"></script>
    <script src="@Url.Content("~/lib/jquery/dist/jquery.min.js")"></script>
    <script src="@Url.Content("~/lib/bootstrap/dist/js/bootstrap.bundle.min.js")"></script>
    <script src="@Url.Content("~/js/site.js")" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
